$black: #222222;

$text-disabled: rgba(0,0,0,0.2);

$gray-100: #f6f6f6;
$gray-200: #c4c4c4;
$gray-300: #CCCCCC;
$gray-500: #999999;
$gray-600: #666666;
$gray-700: #555555;

$blue: #000099;
$yellow: #FFD800;
$red: rgba(203, 33, 37, 1);
$green: #8ECC3C;